:root {
    --color: #fff;
    --color-transition: #330006;
    --bg-color: #e3e3e3bf;
    --bg-color-secciones: #fdc29b;
    --border-radius: 0.7em;
    --box-shadow: 0 0 15px #300c0c;
    --transition: all 0.6s ease;
}


/*    
        --bg-color-secciones: #fdc29b;
        --bg-color-secciones: #fd9b9b;
        --bg-color-secciones: #8de9da;
        --bg-color-secciones: #c9a6d1;
*/


body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    background-color: var(--bg-color);
    transition: var(--transition);
}

article {
    margin-bottom: 1.5em;
    background-color: var(--bg-color-secciones);
    border-radius: var(--border-radius);
    transition: var(--transition);
}

article:hover {
    box-shadow: var(--box-shadow);
    transition: var(--transition);
    transform: translateY(-5px);
}

a {
    color: var(--color);
    text-decoration: none;
    font-size: 1.5rem;
    transition: all 0.3s ease-in-out;
}

a:hover {
    color: var(--color-transition);
}

img {
    display: block;
    width: 100%
}


/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 250px;
    background-color: var(--bg-color-secciones);
    box-shadow: 0 16px 32px #8f8f8f;
    transition: var(--transition);
}

.titulo__header {
    margin: 0;
    font-size: 2.5rem;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 10px#8d8d8d;
}



/* Main*/
main {
    padding: 2em;
}


/* Formato Main para pc*/
@media screen and (min-width:740px) {
    .main {
        position: relative;
        display: grid;
        gap: 0.5em;
    }

    .main {
        grid-template-columns: min-content 1fr;
        /* Se declara que el contenido se divida en dos columnas, la primera va a ser con --min-content-- (ocupa el mínimo espacio requerido) y la segunda con --1fr-- (ocupe todo el espacio sobrante)  */
    }

    .contenedor__perfil {
        position: sticky;
        top: 1.5em;;
        padding: 1em;
        width: 320px;
    }
}

h2{
    text-align: center;
}



/* Tarjeta perfil */
.contenedor__perfil {
    padding: 1.5em;
    margin-bottom: 3em;
}

.contenedor__imagen-perfil {
    border-radius: var(--border-radius);
    overflow: hidden;
    width: 100%;
}

/* Cambio color */
.colores{
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
}

.color__item{
    width: 25px;
    height: 25px;
    border: 1px solid var(--color-transition);
    cursor: pointer;
/*     background-color: var(--bg-color-secciones); */
}

.color__item--uno{
    background-color: #fdc29b;
}
.color__item--dos{
    background-color: #fd9b9b;
}
.color__item--tres{
    background-color: #8de9da;
}
.color__item--cuatro{
    background-color: #c9a6d1;
}



/* Info básica */
.nombre__perfil {
    padding: 1em 0;
    margin: 0;
}

.detalle__perfil {
    font-size: 1.4rem;
    opacity: 0.8;
    margin: 0;
}

.contenedor__info-personal {
    display: flex;
    justify-content: space-around;
    margin-top: 1em;
}

.ti {
    font-size: 3rem;
}

.contenedor__texto-perfil {
    font-size: 1.3rem;
    line-height: 1.6;
    margin-top: 0;
}
/* Fin tarjeta perfil */





/* Contenido proyectos*/

/* Formato articles proyectos para pc */
@media screen and (min-width: 910px) {

    .habilidades__proyecto{
        display: flex;
        justify-content: space-evenly;
    }

}

.contenedor__practicas {
    padding: 15px;
}

.habilidades__proyecto {
    margin: 0;
    text-align: center;

}

@media screen and (min-width: 290px) {
    .habilidad{
        padding: 0.4em 0.9em;
    }
}


.habilidad {
    border-radius: var(--border-radius);
    border: 2px solid var(--bg-color);
    background-color: var(--color);
    color: var(--bg-color-secciones);
    transition: var(--transition);
}

.habilidad:hover {
    color: var(--color-transition);
    box-shadow: var(--box-shadow);
    transition: var(--transition);
    transform: translateY(-5px);
}

.contenedor__imagen-proyecto {
    position: relative;
    left: 0;
    max-width: 290px;
        object-fit: contain;
}
.imagen__proyecto {
    float: left;
    margin-right: 0.8rem;
    border-radius: var(--border-radius);
    border: 2px solid var(--color-transition);
}


.proyecto {
    position: relative;
    margin-bottom: 1rem;
}

.texto__proyecto {
    margin-bottom: 0.8rem;
}

.botones {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2em;
}


@media screen and (min-width: 400px) {
    .botones{
        padding: 0 0.5em;
    }
    .bottom{
        width: 100px;
    }
}

.bottom {
    line-height: 2.5;
    text-align: center;
    transition: var(--transition);
    border-radius: var(--border-radius);
    background-color: var(--color);
    color: var(--bg-color-secciones);
}
.bottom:hover{
    color: var(--color-transition);
    box-shadow: var(--box-shadow);
    transition: var(--transition);
    transform: translateY(-5px);
}